.count {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(60, 59, 59);
    font-size: 3em;
    font-weight: bold;
    margin: 30px;
    background-color: #8939b7;
}

.even {
    background-color: #d15015;
}

.odd {
    background-color: rgb(13, 217, 47);
}

.error {
    background-color: red;
}
